@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&display=swap');


:root {
  --main-color: #fefaf7; 
  --card-background: #f4e9e6;
  --text-color: #2e2e2e;
  --accent-color-1: #dfd6f9;
  --accent-color-2: #fee7a3;
  --button: #88a1a6;
  --button-hover: #88a1a6;
  --font: 'Bodoni Moda';
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
}

body {
  background-color: var(--main-color);
  scrollbar-gutter: stable;
  overflow-x: hidden;
}

/* Layout */

.container {
  position: relative;
  margin-top: 2rem;
}

@media (max-width: 800px) {
  .container {
    display: block;
  }
}

/* Cards */

.grid-item {
  overflow: hidden;
  position: absolute;
  border-radius: 3px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  transition: transform 0.3s ease;
}

.grid-item:hover {
  transform: scale(1.03);
}

.grid-item img {
  width: 100%;
  display: block;
  object-fit: cover;
}

.lazy-img {
    filter: blur(5px);
    transition: filter 0.3s;
}

.lazy-img:not([data-src]) {
    filter: none;
}

.card-body {
  padding: 8px;
  background-color: var(--card-background);
  text-align: center;
}

.card-title {
  font-size: 1.1rem;
  font-weight: bold;
}

.card-text {
  font-size: 0.9rem;
  color: var(--text-color);
}

/* Modal */
/* background */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: black;
    background-color: rgba(0, 0, 0, 0.79);
    align-items: center;
    justify-content: center;
    padding: 16px;
}



/* content */

.modal-content{
  display: flex;
  width: auto;
  height: 100%;
  justify-content: center;
  align-items: center;
  position: relative;
}


#modalImage {
  max-width: 100vw;
  max-height: 100vh;
  object-fit: contain;
  display: block;
  top: 0;
}

.close {
  position: absolute;
  top: 20px;
  right: 20px;
  color: #aaa;
  font-size: 35px;
  font-weight: bold;
  z-index: 10;
}
.exit-wrap {

}

@media (max-width:800px) {
  .close {
    top: 4rem;
    right: 20px;
    font-size: 40px;
  }
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


/*Transitions */

.modal-content {
  animation: zoom 0.6s;
}

@keyframes zoom {
  from {transform: scale(0);} 
  to {transform: scale(1);}
}


/* Top nav desktop */

header {
  top: 0;
}

li {
    list-style: none;
}

a {
    color: var(--accent-color-2);
    text-decoration: none;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.8);
}

.navbar {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
    margin-right: 24px;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
    font-family: serif;
}

.nav-branding {
  font-family: var(--font);
  font-size: 2rem;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.8);
}

.nav-link {
    transition: 0.7s ease;
}

.nav-link:hover {
    color: var(--accent-color-1);
    font-size: 1.2rem;
}

.hamburger {
    cursor: pointer;
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: var(--accent-color-2);
    border-radius: 20px;
}

/* Mobile */

 @media(max-width:800px) {
    .hamburger {
        display: block;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(9px) rotate(-45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-7px) rotate(45deg);
    }
    
    .nav-menu{
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background-color: var(--accent-color-2);
        width: 100%;
        text-align: center;
        transition: 0.1s;
        z-index: 1;
    }

    .nav-item {
        padding: 16px 0;
        width: 100%;
        height: 100%;
    }

    .nav-link {
      width: 100%;
      height: 100%;
    }
    
    .nav-item:hover {
      background-color: var(--accent-color-1);
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-link:hover {
    color: var(--accent-color-2);
    }
 }

/* landing page */

          
.main-body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("assets/full_2018/IKI_RYTOJAUS-pop-pastel-42x62.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 70%;
  height: 100vh;
  width: 100vw;
}

.hero-container{
  padding-left: 20%;
  padding-top: 7%;
  height: fit-content;
}

.cta {
  transition: 0.7s ease;
  font-size: 1.2rem;
  font-family: var(--font);
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.8);
}
 
.cta:hover {
    color: var(--accent-color-1);
    font-size: 1.3rem;
    
}

h1{
  width: 40%;
  font-size: 2.5rem;
  color: var(--accent-color-1);
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.8);
  padding-bottom: 24px;
  font-family: 'Bodoni Moda', serif;
  line-height: 1.4;
}
